@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Gill Sans MT", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Gill-Sans-MT.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gill Sans MT", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/Gill-Sans-MT-Italic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gill Sans MT", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Gill-Sans-MT-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gill Sans MT", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/Gill-Sans-MT-Bold-Italic.ttf") format("truetype");
  }
}
