@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
}
